<template name='createPost'>
<h1>Welcome to create a post for blog.rosa</h1>
<a href='/editPost'>Edit</a>
<a href='/about'>About</a>
<a href='/'>home</a>
<a href='/postCon'> postCon</a>
  <div></div>
  <a href='http://paper.scissors.meteor.com/'>Rock_Paper_Scissors_Game</a>

<div>  Please create Post below:  </div>


<form id= "F_createP" name="input">

First name: <input type="text" name="FirstName" value=" "><br>
Last name: <input type="text" name="LastName" value=" "><br>
<textarea id="T_createP"rows="10" cols="60">

</textarea>
<div>  </div>

<input id='submit-btn' type="submit" value="Submit">

</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "html_form_action.asp".</p>
 
</template>