<template name='editPost'>
<h1>Edit</h1>
<a href='/about'>About</a>
<a href='/createPost'>Create a post</a>
<a href='/'>home</a>
a href='/postCon'> postCon</a>
  <div></div>
  <a href='http://paper.scissors.meteor.com/'>Rock_Paper_Scissors_Game</a>

<div>> Please put your edited material below:  </div>


<form name="input" action="html_form_action.asp" method="get">
<textarea rows="10" cols="60">

</textarea>
<div> </div>
<input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "html_form_action.asp".</p>


</template>