
<template name="home">
  <h1>Welcome to Rosa's Blog!</h1>
  <p>Sharing my experience in startup a webpage using meteor </p>
  <p> My first webpage: dice.roll.on.meteor.com</p>
  <p> My second webpage: paper.scissors.meteor.com</p>
  <p> My third webpage: blog.rosa.meteor.com</p>
  {{greeting}}
  <div>  </div>
  <a href='/createPost'>Create a post </a>
  <div>   </div>
  <a href='/about'>About</a>
  <div>  </div>
  <a href='/editPost'>Edit</a>
  <div></div>
  <div>  </div>
  <a href='/postCon'> postCon</a>
  <div></div>
  <a href='http://paper.scissors.meteor.com/'>Rock_Paper_Scissors_Game</a>
  
</template>